<h1>UserList</h1>
<hr>


<table id="users">

  <tr>
    <th *ngFor="let col of displayColumns">
      {{col}}
    </th>
  </tr>
  <tr *ngFor="let user of users">
    <td *ngFor="let col of displayData">
      {{user[col]}}
    </td>
  </tr>

</table>