<mat-card  class="login-card">
        <div class="header">
                <h2>LOGIN</h2>
        </div>
        <mat-card-content>
                <form  (ngSubmit) = "onLogin()" name= "loginForm" [formGroup] = "loginForm">
                        <div>
                                <mat-form-field appearance="outline">
                                        <mat-label>Email</mat-label>
                                        <input type="email" formControlName="email" matInput  placeholder="Email"  required>
                                        <mat-error *ngIf="loginForm.get('email')?.errors?.required">
                                                Required email address
                                        </mat-error>
                                </mat-form-field>
                        </div>
                        <div>
                                <mat-form-field appearance="outline">
                                        <mat-label>Password</mat-label>
                                        <input type="password"  matInput  placeholder="Password" formControlName="password" required>
                                        <mat-error *ngIf = "loginForm.get('password')?.errors?.required">
                                                Required password
                                        </mat-error>
                                        <mat-error *ngIf = "loginForm.get('password')?.errors?.minlength">
                                                must be min 6 characters
                                        </mat-error>
                                </mat-form-field>
                        </div>
                        
                        <button mat-flat-button type="submit" color = 'primary' [disabled]="loginForm.invalid" >Login</button>
                
                </form>    

        </mat-card-content>    
</mat-card>            