.mat-card{
        max-width: 600px;
        margin: 2cm auto;
        text-align: center;
        max-height: 600px;
}

.header{
        text-align: center;
}

.full-width{
        width: 80%;
}

.forget-password{
        padding-left: 1000px;
}

.email-input{
        padding-top: 10px;
}

.aLink{
        float: right;
        padding-right: 10px;
        text-decoration: none;
}

.form-field{
        margin-bottom: 10px;
        width: 1000px;
}