<mat-toolbar color="primary">
  <a mat-button routerLink="/login" routerLinkActive="activebutton"><b>Login</b></a>
  <a mat-button routerLink="/signup" routerLinkActive="activebutton"><b>Signup</b></a>
  <a mat-button routerLink="/userlist" routerLinkActive="activebutton"><b>userList</b></a>
  <a mat-button routerLink="/author" routerLinkActive="activebutton"><b>Author</b></a>

</mat-toolbar>

<router-outlet></router-outlet>