/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}

body {
  margin: 0;
}

form {
  width: 450px;
  margin: 50px auto;
}

.preview {
  display: block;
  text-align: center;
}
h2{
        text-align: center;
}
mat-toolbar{
  list-style: none;
  float: center;
  margin: 0;
  padding: 0;
  display: flex;
}


a {
  line-height: 80px;
  color: black;
  padding: 12px 30px;
  text-transform: uppercase;
  transition: .3s;
}

.container{
  background-color: green;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
