<!-- <mat-card class="login-card">
   <div>
        <h2>Author Details</h2>
   </div>     
   <mat-card-content>
        <form [formGroup] = "authorForm" (ngSubmit) = "handleSubmit()">
                <mat-form-field appearance="fill">
                        <mat-label>Choose publshed Year</mat-label>
                        <input matInput [matDatepicker]="picker">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <mat-form-field appearance="fill">
                        <mat-label>AuthorNamefdgmmhgm</mat-label>
                        <input type="text" formControlName="authorName" matInput
                                placeholder="AuthorName" required>
                </mat-form-field>
                <div>
                <button mat-raised-button type='button'  color='primary' (click)='addBook()'>Add Book</button>
                
                <div formArrayName ="books">
                        <div *ngFor="let x of authorForm.get('books')?.controls; let i = index;">
                                <input type="text" placeholder="Enter Book Name" [formGroupName]="i">
                        </div>
                </div> 
                
                </div>


                
                <div class='button'>
                        <button type='button'  color='primary' (click)='removeBook(i)'>Remove</button>
                        
                
                </div>

                <div class='button'>
                       
                        <button type='button'  color='primary' >Create Author</button>
                </div>
        </form>
   </mat-card-content>
</mat-card> -->