<mat-card class="login-card">
   <div>
        <h2>Registration</h2>
   </div>     
   <mat-card-content>
        <form class = "my-form" (ngSubmit)="onSubmit()" name="signupForm" [formGroup]="signupForm">
                
                <mat-form-field appearance="fill">
                        <mat-label>FirstName</mat-label>
                        <input type="text" formControlName="firstName" matInput
                                placeholder="FirstName" required>
                </mat-form-field>
                

                <mat-form-field appearance="fill">
                        <mat-label>LastName</mat-label>
                        <input type="text" formControlName="lastName" matInput
                                placeholder="LastName" required>
                </mat-form-field>


                <mat-form-field appearance="fill">
                        <mat-label>PhoneNo</mat-label>
                        <input type="tel" formControlName="phoneNo" matInput
                                placeholder="PhoneNo" required>
                        <mat-error *ngIf="signupForm.get('phoneNo')?.errors?.required">
                                Required phoneNo
                        </mat-error>
                        <mat-error *ngIf="signupForm.get('phoneNo')?.errors?.minlength">
                                must be max 10 digits
                        </mat-error>
                </mat-form-field>


                <mat-form-field appearance="fill">
                        <mat-label>Email</mat-label>
                        <input type="email" formControlName="email" matInput
                                placeholder="Email" required>
                        <mat-error *ngIf="signupForm.get('email')?.errors?.required">
                                Required email address
                        </mat-error>
                </mat-form-field>
                
                <mat-form-field appearance="fill">
                        <mat-label>Password</mat-label>
                        <input type="text"  matInput placeholder="Password" formControlName="password" required>
        
                                        <!-- <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                        </button> -->
                        <mat-error *ngIf="signupForm.get('password')?.errors?.required">
                                Required password
                        </mat-error>
                        <mat-error *ngIf="signupForm.get('password')?.errors?.minlength">
                                must be min 6 characters
                        </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill">
                        <mat-label>ConfirmPassword</mat-label>
                        <input type="password" matInput placeholder="ConfirmPassword" formControlName="confirmPassword" required>
                        <mat-error *ngIf="signupForm.get('confirmPassword')?.errors?.required">
                                Required password
                        </mat-error>
                        <mat-error *ngIf="signupForm.get('confirmPassword')?.errors?.MatchPassword">
                                Password does not match
                        </mat-error>
                </mat-form-field>

                <button mat-raised-button type="submit" (click)='click()' color='primary' [disabled]="signupForm.invalid" [routerLink]="['/userlist']">REGISTER</button>
      </form>
   </mat-card-content>
</mat-card>